.hero {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.hero-photo-text {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 11%;
  color: #283445;
  text-align: start;
}

.photo-desc {
  line-height: 16px;
}
.photo-link {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
}
.photo-link:hover {
  color: #023f57;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopnow-btn {
  padding: 5px 10px;
  background-color: black;
  color: white;
}
